APP_NAME="RWT APP"
APP_ENV=local
APP_KEY=base64:8eeQzGqLMPhXJ7QHZ0X9SjEehf0zQDfza+snKvKVQqY=
APP_DEBUG=true
APP_URL=http://localhost:7000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=database
DB_PORT=3306
DB_DATABASE=rwt
DB_USERNAME=root
DB_PASSWORD=root

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# REVERB_APP_ID=102506
# REVERB_APP_KEY=yyvh5b8jcpih5pg76d7q
# REVERB_APP_SECRET=ac7h15xihstji2mgs8ur
# REVERB_HOST=192.168.18.2
# REVERB_PORT=6001
# REVERB_SCHEME=http

# VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
# VITE_REVERB_HOST="${REVERB_HOST}"
# VITE_REVERB_PORT="${REVERB_PORT}"
# VITE_REVERB_SCHEME="${REVERB_SCHEME}"

VITE_APP_ENV=development
# VITE_API_BASE_URL=http://13.236.177.86/api/
# VITE_API_BASE_URL=http://192.168.1.83:7000/api/
VITE_API_BASE_URL=https://appointments-metal-named-revolutionary.trycloudflare.com/api/